[Unit]
Description=Carrier Bearer
After=network.target

[Service]
Type=simple
ExecStart=/home/carrier/carrier-bearer --certificate /home/carrier/cert.pem --private_key /home/carrier/key.pem --incoming_con_ca_path /home/carrier/trusted_cas/
User=carrier
Restart=always

[Install]
WantedBy=multi-user.target
